*{
    margin: 10px;
    padding: 40px;
    box-sizing: border-box;
    background-image: url('backgroundimg.jpg');
}

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height:auto;
    align-self: auto;
    margin-top: 70px;
    margin-bottom: 80px;
    margin-left: auto;
   
}
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 10px;
    background-image: url('images/background_img.jpg');

}

#navbar {
    background-color:rgb(69, 3, 3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 40px;
    margin: 0;
    position:absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}


 button {
    padding: 10px;
    font-size: 16px;
   margin-top: 3px;
   background-color: #b9bab8;
   
}

select{
    padding: 10px;
    font-size: 16px;
   margin-top: 3px;
}

ul {
    list-style-type:none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
}

