<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="static\index.css">
    
</head>

<body>
    
    <section id="navbar">
        
    
    <h1>Movie Recommendation System</h1><br>
    
  
   </section>

   <h2>Personalized Movie Recommendations Tailored to Your Emotions and Moods.</h2>
    
    <div class="container">
        <h1>Best Movie Recommendations</h1>
        <select id="emotion">
            <option value="Happy"></option>
            <option value="Drama">Melancholy</option>
            <option value="Action">Excitement </option>
            <option value="Comedy">Amusement</option>
            <option value="Horror">Dread</option>
            <option value="Crime">Suspense</option>
            <option value="Romance">Passion</option>
            <option value="Adventure">Exhilaration</option>
            <option value="Mystery">Curiosity</option>
            <option value="Animation">Delight</option>
            <option value="Scientific Fiction">Fascination</option>
            <option value="Thriller">Anticipation</option>
            <option value="Fantasy">Enchantment</option>
            <option value="Biography">Inspiration</option>
            <option value="Family">Nostalgia</option>
            <option value="History">Reverence</option>
            <option value="Music">Euphoria</option>
        </select>
        <button onclick="getRecommendations()">Get Recommendations</button>
        <ul id="movies"></ul>
    </div>
    <script src="static\index.js"></script>

    
</body>

</html>